<%= form_for @card do |f| %>
<% if @card.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@card.errors.count, "error") %> prohibited
      this card from being saved:</h2>
    <ul>
    <% @card.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    Player Name: <%= f.text_field :player_name %>
  </p>
 
  <p>
    Card Manufacturer: <%= f.text_field :manufacturer %>
  </p>

    <p>
    Year: <%= f.text_field :year %>
  </p>

    <p>
    Card Attributes: <%= f.text_field :attri %>
  </p>

    <p>
    Team: <%= f.text_field :team %>
  </p>

    <p>
    Condition: <%= f.text_field :condition %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>