<h1>Listing Cards</h1>
 
<table>
  <tr>
    <th>Player</th>
    <th>Card Manufacturer</th>
    <th>Year</th>
    <th>Card Attributes</th>
    <th>Team</th>
    <th>Condition</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.player_name %></td>
      <td><%= card.manufacturer %></td>
      <td><%= card.year %></td>
      <td><%= card.attri %></td>
      <td><%= card.team %></td>
      <td><%= card.condition %></td>
    </tr>
  <% end %>
</table>