<div class="row">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">

    <div class="header clearfix">
      <h1>Listing Cards</h1>
    </div>

    <%= link_to 'Add Card', new_card_path, class: "btn btn-large btn-primary" %> <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>

    <br><br>


    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">Cards list</div>
        <div class="table-responsive">
          <table class="table table-striped table-responsive">
            <tr>
              <th>Player</th>
              <th>Card Manufacturer</th>
              <th>Year</th>
              <th>Card Attributes</th>
              <th>Team</th>
              <th>Condition</th>
              <th colspan="3"></th>
            </tr>

            <% @cards.each do |card| %>
            <tr>
              <td><%= card.player_name %></td>
              <td><%= card.manufacturer %></td>
              <td><%= card.year %></td>
              <td><%= card.attri %></td>
              <td><%= card.team %></td>
              <td><%= card.condition %></td>
              <td><%= link_to 'Show', card_path(card), class: "btn btn-large btn-primary" %></td>
              <td><%= link_to 'Edit', edit_card_path(card), class: "btn btn-large btn-primary" %></td>
              <td><%= link_to 'Destroy', card_path(card), class: "btn btn-large btn-primary",
              method: :delete, data: { confirm: 'Are you sure?' } %>
            </tr>
            <% end %>
          </table> 

        </div>
      </div>
    </div>


  </div>
</div>