<h1>Listing Cards</h1>
 
<%= link_to 'Add Card', new_card_path %>
<br><br>

<table>
  <tr>
    <th>Player</th>
    <th>Card Manufacturer</th>
    <th>Year</th>
    <th>Card Attributes</th>
    <th>Team</th>
    <th>Condition</th>
    <th colspan="3"></th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.player_name %></td>
      <td><%= card.manufacturer %></td>
      <td><%= card.year %></td>
      <td><%= card.attri %></td>
      <td><%= card.team %></td>
      <td><%= card.condition %></td>
      <td><%= link_to 'Show', card_path(card) %></td>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
    </tr>
  <% end %>
</table>