<p>
  <strong>Player:</strong>
  <%= @card.title %>
</p>
 
<p>
  <strong>Card Manufacturer:</strong>
  <%= @card.manufacturer %>
</p>

<p>
  <strong>Year:</strong>
  <%= @card.year %>
</p>
 
<p>
  <strong>Card Attributes:</strong>
  <%= @card.attri %>
</p>

<p>
  <strong>Team:</strong>
  <%= @card.team %>
</p>
 
<p>
  <strong>Condition:</strong>
  <%= @card.condition %>
</p>