<div class="col-md-10 col-md-offset-3">
  <div class="row">
  <div class="col-md-6">

<p>
  <strong>Player:</strong>
  <%= @card.player_name %>
</p>
 
<p>
  <strong>Card Manufacturer:</strong>
  <%= @card.manufacturer %>
</p>

<p>
  <strong>Year:</strong>
  <%= @card.year %>
</p>
 
<p>
  <strong>Card Attributes:</strong>
  <%= @card.attri %>
</p>

<p>
  <strong>Team:</strong>
  <%= @card.team %>
</p>
 
<p>
  <strong>Condition:</strong>
  <%= @card.condition %>
</p>

<%= link_to 'Back', cards_path, class: "btn btn-large btn-primary" %> <%= link_to 'Edit', edit_card_path(@card), class: "btn btn-large btn-primary" %>

</div>
</div>
</div>